body {
	background: #141414;
	color: #ffffff;
}

.row_poster {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
}

.row_poster::-webkit-scrollbar{
	display: none;
}


.hover-container:hover {
cursor: pointer;
transform: scale(1.08);
/* transform: rotate(360deg); */
}


input[type="radio"] {
	display: none;
}

.star {
	cursor: pointer;
	transition: color 200ms;
}



	