<h1>Signup</h1>

<form action="/signup" method="post">
    Enter Name: <input type=text name="name">
    Enter Username: <input type=text name="username">
    Enter Email: <input type=email name="email">
    Enter Password: <input type=password name="password">
    <input type=submit value="Signup">
</form>