body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  text-align: center;
}

img {
  max-width: 500px;
  height: 500px;
}

#card {
  text-align: left;
  display: flex;
}
#info {
  margin-left: 250px;
  flex: 1;
  max-width: 350px;
  margin-right: 100px;
}

#image {
  margin-right: 100px;
}